<!--
    Partials permitem você renderizar uma view dentro de outra, ou seja, "reutilizar páginas/views"
-->

<!-- link_to =  Helper para links -->

<ul>
    <li>
        <%= link_to "Cadastro de Modeadas", coins_path %>
    </li>
    <!-- 
        Para verificar qual o path dessa rota, basta verificarmos no endereço
        http://localhost:3000/rails/info/routes/
        que acharemos a path em 'Path/Url'
    -->

</ul>